
.portfolio-2-grid{ 
    
        display: grid;
        gap:16px;
        .portfolio-2-bio { 
            grid-area: span 1 / span 3 / span 1 / span 3;   
            order: 1;
         }
        .portfolio-2-img-1 {
            grid-area: span 1 / span 3 / span 1 / span 3;
            order: 2;
        }
        .portfolio-2-img-2 {   grid-area: span 1 / span 3 / span 1 / span 3;    order:3;}
        .portfolio-2-img-3 {   grid-area: span 1 / span 3 / span 1 / span 3;    order:4;}
        .portfolio-2-img-4 {   grid-area: span 1 / span 3 / span 1 / span 3;    order:5;}
        
        @media screen and (min-width :768px) { 

            // grid:
            // "portfolio-2-img-1 portfolio-2-img-1 portoflio-2-bio" 1fr
            // "portfolio-2-img-2 portfolio-2-img-3 portfolio-2-img-4" 1fr
            // ". . .";

      
              
                display: grid;
                grid:
                  "portfolio-2-img-1  portfolio-2-img-1  biportoflio-2-bioo" 1fr
                  "portfolio-2-img-2 portfolio-2-img-3 portfolio-2-img-4" 1fr
                  / 1fr 1fr 1fr;
                gap: 8px;
              
              
            //   .img1 { grid-area: img1; }
            //   .bio { grid-area: bio; }
            //   .img2 { grid-area: img2; }
            //   .img3 { grid-area: img3; }
            //   .img4 { grid-area: img4; }
         // gap: 8px;

            .portfolio-2-img-1 { 
                grid-area: portfolio-2-img-1;
                grid-area: span 1 / span 2 / span 1 / span 2;  
                order:1;
            }
            .portfolio-2-bio { 
              //  grid-area: portoflio-2-bio;
                grid-area: span 1 / span 1 / span 1 / span 1;
                order: 2;
             
            }
            .portfolio-2-img-2 { 
                grid-area: portfolio-2-img-2; 
                grid-area: span 1 / span 1 / span 1 / span 1;
                order: 3;
            }
            .portfolio-2-img-3 { 
                grid-area: portfolio-2-img-3; 
                grid-area: span 1 / span 1 / span 1 / span 1;
                order: 4;
            }
            .portfolio-2-img-4 {
                grid-area: portfolio-2-img-4; 
                grid-area: span 1 / span 1 / span 1 / span 1;
                order: 5;}
        }
  
}